@import './_variables.scss';

.App {
  transform: translateY(2npm 0%);
  padding: 20px;
  text-align: center;
  color: $fisher-color;
}

h1 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 38px;
}

h2 {
  margin-bottom: 5px;
}

h3 {
  @extend h2;
  color: $emergency-color;
}
